# Environment
.env
.env.*

!.env.example

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Node
node_modules/
dist/

# Docker
*.log

# AWS installers
aws/
awscliv2.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
