# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/

# =========================
# FastAPI
# =========================
*.log

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
.vite/

# =========================
# Docker
# =========================
docker-data/
*.pid

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# AWS Downloads
# =========================
aws/
awscliv2.zip

# =========================
# SSH Keys
# =========================
*.pem
*.key
.github_actions
github_actions
github_actions.pub

# =========================
# Certbot
# =========================
fullchain.pem
privkey.pem

# =========================
# Terraform (future)
# =========================
.terraform/
*.tfstate
*.tfstate.*
