APP_NAME=Employee Management API

API_V1_PREFIX=/api/v1

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=employee_db
POSTGRES_USER=employee_user
POSTGRES_PASSWORD=employee_password

SECRET_KEY=change_this_later

ACCESS_TOKEN_EXPIRE_MINUTES=30
